/* niui – Modal */

// .no-scroll {
// 
//   &,
//   & body {
//     touch-action: none;
//     overscroll-behavior: none;
//     overscroll-behavior: contain;
//     // overflow: hidden;
//     -webkit-overflow-scrolling: auto;
//   }
// 
//   body {
//     scrollbar-gutter: stable;
//   }
// }

.transparent-scrollbar body > :not(dialog) {
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }
}

// html.n-full-screen {
//   background: #000;
// 
//   body {
//     opacity: 0;
//   }
// }

.n-modal {

  transition: opacity .067s ease-in-out; // When scrolling the page behind
  overscroll-behavior: contain;
  background: var(--nui-bg, #fff);
  color: var(--nui-color, #000);
  border: 0;
  text-align: right;  // Follow browser tabs X button position
  border-radius: var(--nui-border-radius);

  &,
  &::backdrop {
    --duration: .2;
  }

  &::backdrop {
    background: rgba(255, 255, 255, 0.9);

    @media (prefers-reduced-motion: no-preference) {
      animation: backdrop_fade_in calc(var(--duration) * 1s) ease-in-out forwards;
    }

    @media (prefers-color-scheme: dark) {
      background: rgba(0, 0, 0, 0.9);
    }
  }

  &.n-modal--closing::backdrop {
    animation-name: backdrop_fade_out;
  }

  overscroll-behavior: contain;

  &__content {
    display: none;
    overflow: auto;
    background: transparent;
    text-align: initial;
    max-height: calc(100vh - 2rem - 40px - 12px - 1em);
  }

  > .n-modal__content {
    display: revert;
  }

  > .n-modal__close {
    min-width: 40px;
    min-height: 40px;
    margin-bottom: 1em;
    color: var(--nui-control-color, #fff);
    cursor: pointer;
    padding: 0.75em;
    font: inherit;
    background-color: var(--nui-control-bg, rgba(0, 0, 0, 0.7));
    z-index: 1;
    top: 0;
    position: sticky;
    border: 0;
    padding: 0.5rem;
    font-weight: normal;
    border-radius: var(--nui-border-radius);

    &:before {
      content: attr(data-close-symbol);
    }

  }

  &.n-modal--full {
    margin: auto;
    width: 100%;
    width: calc(100vw - 2 * env(safe-area-inset-left));
    height: 100%;
    box-shadow: 0 0 0 6px var(--nui-bg, white);

    @media (prefers-color-scheme: dark) {
      box-shadow: 0 0 0 6px var(--nui-bg, black);
    }

    &::backdrop {
      opacity: 0;
      animation: none;
    }
  }

  &[data-existing-attached-content] {
    &::backdrop {
      animation: none;
      background: white;

      @media (prefers-color-scheme: dark) {
        background: black;
      }
    }
  }

  &.n-modal--shadow {
    box-shadow: 0 0 .25rem .125rem rgba(0, 0, 0, .5);
    max-height: calc(100% - 3.5rem);
    max-width: calc(100% - 3.5rem);

    @media (prefers-color-scheme: dark) {
      box-shadow: 0 0 .25rem .125rem rgba(255, 255, 255, .5);
    }

    &::backdrop {
      opacity: 0;
      animation-name: none;
    }
  }

  &.n-modal--blur {
    &::backdrop {
      opacity: 1;
      background: none;
      animation-name: backdrop_blur;
      animation-fill-mode: forwards;
    }

    &.n-modal--closing::backdrop {
      animation-name: backdrop_blur_back;
    }
  }

  &.n-modal--rounded {
    border-radius: 0.5ch;

    .n-modal__close {
      border-radius: 20px;
    }
  }

  > * {
    background: var(--nui-bg, #fff);
    position: relative;
  }

  &.n-modal--transparent {
    @media (prefers-reduced-motion: no-preference) {

      opacity: 0;

      &::backdrop {
        opacity: 0.5;
        animation-name: none;
        transition: opacity .067s ease-in-out;
      }
    }
  }

}

_::-webkit-full-page-media,
_:future,
:root .n-modal {
  text-align: left; // Follow browser tabs X button position
}

@keyframes backdrop_fade_in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes backdrop_fade_out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes backdrop_blur {
  from {
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
  }

  to {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  }
}

@keyframes backdrop_blur_back {
  from {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  }

  to {
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
  }
}