/* niui – Modal */
// @import "../../css/niui-setup";

.no-scroll {

  &,
  & body {
    touch-action: none;
    overscroll-behavior: none;
    overflow: hidden;
    -webkit-overflow-scrolling: auto;
  }
}

// html.n-full-screen {
//   background: #000;
// 
//   body {
//     opacity: 0;
//   }
// }

.n-modal {

  background: var(--bg, #fff);
  border: 0;
  text-align: end;

  // z-index: 999999;
  &::backdrop {
    background: rgba(255, 255, 255, 0.97);

    @media (prefers-reduced-motion: no-preference) {
      animation: fade-in .2s ease-in-out;
    }

    @media (prefers-color-scheme: dark) {
      background: rgba(0, 0, 0, 0.97);
    }
  }

  // overflow: hidden;
  // overflow-y: auto;
  // position: fixed;
  // top: var(--overlay-top, 0);
  // inset: 0;
  // width: 100%;
  // height: 100%;
  // height: 100dvh;
  // box-sizing: border-box;
  // -webkit-backface-visibility: hidden;
  // backface-visibility: hidden;

  //   display: flex;
  //   flex-direction: column;
  // 
  //   border: calc(50vw - 35ch) solid transparent;
  //   border-top-width: 3ch;
  //   border-bottom-width: 3ch;

  // @media (max-width: 900px) {
  //   border-width: 1ch;
  // }

  // * {
  //   box-sizing: border-box;
  // }

  &__content {
    overflow: auto;
    background: transparent;
    text-align: initial;
    // padding-inline-start: env(safe-area-inset-left);
    // padding-inline-end: env(safe-area-inset-right);
    // padding: 1.5rem 1rem;

    // &:focus {
    //   outline: 0;
    // }
  }

  > .n-modal__close {
    min-width: 40px;
    min-height: 40px;
    color: var(--control-color, #fff);
    cursor: pointer;
    padding: 0.75em;
    font: inherit;
    // font-weight: bold;
    background-color: var(--control-bg, rgba(0, 0, 0, 0.7));
    // width: 100%;
    z-index: 1;
    top: 0;
    position: sticky;
    // overflow: hidden;
    // height: 3em;
    // overflow-x: auto;
    // white-space: nowrap;
    // line-height: var(--line-height-em, 1.5rem);
    // text-align: start;
    border: 0;
    // outline-offset: -5px;

    // flex: 3em 0 0;
    // line-height: 0;
    padding: 0.5rem;
    // font-size: 2rem;
    // padding-bottom: 1.25rem;
    font-weight: normal;

    // margin-inline-start: env(safe-area-inset-left);
    // margin-inline-end: env(safe-area-inset-right);

    &:before {
      content: attr(data-close-text);
    }

  }

  &.n-modal--full {
    margin: auto;
    width: 100%;
    width: calc(100vw - 2 * env(safe-area-inset-left));
    height: 100%;
  }

  &.n-modal--shadow {
    box-shadow: 0 0 .25rem .125rem rgba(0, 0, 0, .5);

    @media (prefers-color-scheme: dark) {
      box-shadow: 0 0 .25rem .125rem rgba(255, 255, 255, .5);
    }

    margin-top: .75rem;

    &::backdrop {
      display: none;
    }
  }

  &--rounded {
    // .n-modal__bg {
    border-radius: 0.5ch;
    // }

    .n-modal__close {
      border-radius: 20px;
    }
  }

  > * {
    background: var(--bg, #fff);
    position: relative;
  }
}

_::-webkit-full-page-media,
_:future,
:root .n-modal {
  text-align: start;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}