@charset "UTF-8";
/* niui – Modal */
.no-scroll, .no-scroll body {
  touch-action: none;
  overscroll-behavior: none;
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
}

.n-modal {
  background: var(--bg, #fff);
  border: 0;
  text-align: end;
}
.n-modal::backdrop {
  background: rgba(255, 255, 255, 0.97);
}
@media (prefers-reduced-motion: no-preference) {
  .n-modal::backdrop {
    animation: fade-in 0.2s ease-in-out;
  }
}
@media (prefers-color-scheme: dark) {
  .n-modal::backdrop {
    background: rgba(0, 0, 0, 0.97);
  }
}
.n-modal__content {
  overflow: auto;
  background: transparent;
  text-align: initial;
}
.n-modal > .n-modal__close {
  min-width: 40px;
  min-height: 40px;
  color: var(--control-color, #fff);
  cursor: pointer;
  padding: 0.75em;
  font: inherit;
  background-color: var(--control-bg, rgba(0, 0, 0, 0.7));
  z-index: 1;
  top: 0;
  position: sticky;
  border: 0;
  line-height: 0;
  padding: 0.5rem;
  font-size: 2rem;
  padding-bottom: 1.25rem;
  font-weight: normal;
}
.n-modal.n-modal--full {
  margin: 0;
  width: 100%;
  height: 100%;
}
.n-modal--rounded {
  border-radius: 0.5ch;
}
.n-modal--rounded .n-modal__close {
  border-radius: 50%;
}
.n-modal > * {
  background: var(--bg, #fff);
  position: relative;
}

_::-webkit-full-page-media,
_:future,
:root .n-modal {
  text-align: start;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
