@charset "UTF-8";
/* niui – Modal */
.no-scroll, .no-scroll body {
  touch-action: none;
  overscroll-behavior: none;
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
}

.n-modal {
  background: var(--bg, #fff);
  border: 0;
}
.n-modal::backdrop {
  background: rgba(255, 255, 255, 0.97);
}
@media (prefers-color-scheme: dark) {
  .n-modal::backdrop {
    background: rgba(0, 0, 0, 0.97);
  }
}
.n-modal__content {
  overflow: auto;
  background: transparent;
}
.n-modal > .n-modal__close {
  color: var(--control-color, #fff);
  cursor: pointer;
  padding: 0.75em;
  font: inherit;
  background-color: var(--control-bg, rgba(0, 0, 0, 0.7));
  z-index: 1;
  top: 0;
  position: sticky;
  border: 0;
  line-height: 0;
  padding: 0.5rem;
  font-size: 2rem;
  padding-bottom: 1.25rem;
  font-weight: normal;
}
.n-modal.n-modal--full {
  border: none;
}
.n-modal--rounded {
  border-radius: 0.5ch;
}
.n-modal--rounded .n-modal__content {
  border-bottom-left-radius: 0.5ch;
  border-bottom-right-radius: 0.5ch;
}
.n-modal--rounded .n-modal__close {
  border-top-left-radius: 0.5ch;
  border-top-right-radius: 0.5ch;
}
.n-modal > * {
  background: var(--bg, #fff);
  position: relative;
}

@media (max-height: 512px) and (orientation: landscape) {
  .n-modal > .n-modal--close {
    inset-inline-start: 0.5rem;
    inset-inline-end: auto;
    margin-top: 0.5rem;
    top: var(--overlay-top, 0);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .n-modal > .n-modal--close:after {
    content: "╳";
    font-size: 1rem;
    display: inline-block;
    width: 40px;
    text-align: center;
  }
}
